table {
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    width: 85%;
    color: black;
    text-align: center;
    background-color: white;

}


table th {
    border-top: 0.25px solid #bbbbbb;
    border-bottom: 0.25px solid #bbbbbb;
    padding: 8px;
}

table td {
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

table tr:nth-child(odd) {
    background-color: #ffffff;
}




table th {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 700;
}

button {
    border: #000000 solid 1px;
    margin: 4px;
    ;
    border-radius: 2px;
    padding: 1px;
    padding-left: 8px;
    padding-right: 8px;
    background: rgb(255, 255, 255);
}

button:disabled {
    opacity: 40%;

}

button:hover {
    scale: 1.05;
}

button:disabled:hover {
    scale: 1;
}

input {
    border: 1px solid #ccc;
    border-radius: 2px;
}